@import url('https://fonts.googleapis.com/css2?family=Anton&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

/* >> RESET */
    *,
    *::before,
    *::after{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
/*  */


/* >> GENERAL STYLES */
    html{
        scroll-behavior: smooth;
    }

    body{
        font-family: sans-serif;
        width: 100%;
        background-color: rgb(31, 31, 33);

    }

    main{
        width: 100%;
        height: 100%;
    }
/*  */


/* >> LOGIN AND SIGN UP PAGE STYLES */
/* > Conatiner */
    .container{
        height: 100vh;
        width: 100%;

        display: grid;
        place-content: center;
    }

    .log-container{
        height: 500px;
        width: 300px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
/* > Login , Sign Info Styles */
    .log-info{
        height: 2500px;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
/* > Name, Number, Password DIV styles */
    .name,
    .number,
    .password{
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    /* Login info inputs */
    .name input,
    .number input,
    .password input{
        padding: 16px;
        height: 50px;
        border-radius: 16px;
        background-color: rgb(231, 231, 231);
        outline: none;
        border: none;
    }

    .log-info button{
        width: 60px;
        height: 40px;
        border: none;
        outline: none;
        background-color: white;
        color: white;
    }

    p button{
        border: none;
        outline: none;
        text-decoration: underline;
        background-color: transparent;
        font-weight: bolder;
    }

    #js-signUp{
        width: 60px;
        height: 40px;
        border: none;
        outline: none;
        background-color: rebeccapurple;
        color: white;
    }
/*  */


/* >>>>> HEADER STYLES <<<<< */
    .header{

        padding: 8px 30px;
        height: 100px;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .header img{
        width: 40%;
    }
/* >> NAVBAR */
    .navbar{
    }

    .navbar ul{
        

        display: flex;
        gap: 2rem;
    }

    .navbar li{
        list-style: none;
        margin-right: 15px;
    }

    .navbar a{
        font-size: 20px;
        text-decoration: none;
        color: white;
    }

    .navbar a:hover{
        color: greenyellow;
    }
    

    nav .sidebar{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 999; /* To make sure the sidebar will always be above evrything else set the z-index to 999 */
        background-color: rgba(255, 255, 255, 0.096);
        backdrop-filter: blur(2px);
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
    
      .sidebar li{
        width: 100%;
      }
    
      .sidebar a{
        width: 100%;
      }

      .menu-btn{
        display: none;
      }
/*  */


/* >>>>> HERO STYLES <<<<< */
    .hero{
        height: 100vh;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .intro{
        height: 100vh;
        width: 100%;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .intro h1{
        color: white;
    }
    
    .hero span{
        color: white;
        font-size: 8rem;
        align-items: center;
        font-family: "Anton", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .shop-cart{
        width: 100%;
        height: 20%;
        text-align: center;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .shop-cart a{
        height: 80px;
        width: 150px;
        font-size: 20px;
        color: white;
        font-weight: bolder;
        text-decoration: none;
        border: 3px solid white;

        display: grid;
        place-content: center;
    }
/*  */


/* >>>>> MAIN STYLES <<<<< */
/* >>>>> Coupons */
    .coupons{
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .coupon{
        width: 50%;
        

        display: grid;
        place-content: center;
    }
    .coupon h2{
        color: white;
        text-align: center;
        margin-bottom: 16px;
        font-size: 45px;
        align-items: center;
        font-family: "Anton", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .coupon p{
        text-align: center;
        color: white;
        margin-bottom: 16px;
        font-size: 40px;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;

        display: grid;
        place-content: center;
    }
/* >>> COUPON ITEMS */
    .couponItems{
        height: 55vh;
        width: 250px;

        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }

    .couponItems div{

        display: flex;
        justify-content: center;
    }
    .coupon-item{
        padding: 16px;
        border-radius: 12px;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .coupon-item img:hover{
        background-color: black;
        transition: 300ms;
    }

    .coupon-item img{
        height: 100%;
        border: 2px solid white;
        padding: 20px;
    }

    .switch-btn{
        height: 100px;

    }

    .switch-btn button{
        width: 80px;
        height: 80px;
        background-color: transparent;
        outline: none;
        color: white;
        border: 2px solid white;
        border-radius: 50%;
        margin-left: 20px;
        display: none;
    }

    #won-coupon{
        width: 500px;
        text-align: center;
        color: white;
        font-size: 80px;
        align-items: center;
        font-family: "Anton", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
/*  */


/* >>>>> SHOP STYLES <<<<< */
    .shop{
        margin-top: 50px;
        height: 100vh;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .shop h2{
        color: white;
        font-size: 4rem;
        font-family: "Rowdies", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .store-variaty{
        padding: 16px;
        height: 100vh;
        width: 100%;

        display: flex;
        justify-content: center;
        gap: 1rem;
    }
/* >>>>> Shop Items */
    .shop-item{
        width: 600px;
        height: 100%;
        background-image: url(img/shoeShop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .shop-details{
        background-image: linear-gradient(to bottom,transparent , black);
        width: 100%;
        height: 50%;
        border-top: 5px 77px ;
        padding: 16px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .shop-details h2{
        text-align: left;
    }

    .shop-details p{
        text-align: left;
        color: white;
        font-size: 30px;
    }

    .shop-btn{


        display: flex;
        justify-content: flex-end;
    }

    .shop-details button{
        height: 50px;
        width: 80px;
        background-color: transparent;
        font-size: 20px;
        border-radius: 16px;
        border: 4px solid white;
        color: white;
        padding: 10px;
    }



    
/* >>>>> RESPONSIVE WEB <<<<< */
    @media(max-width: 1500px){
        /* >>>>> HERO */
            .hero span{
                font-size: 6rem
            };

            .intro{
                justify-content: space-evenly;
            }

            .shop-cart a{
                height: 60px;
                width: 130px;
            }
        /* >>>>> COUPONS */
            .coupon-item img{
                height: 70%;
                background-color: black;
            }

            .couponItems{
                width: 100%;
            }

            .coupon-item:first-child{
                margin-left: 200px;
            }

            .coupon-gallery{
                width: 100%;
                overflow-x: scroll;
            }

            .coupon-gallery::-webkit-scrollbar{
                display: none;
            }

            .switch-btn button{

                display: flex;
                justify-content: center;
                align-items: center;
            } 

            #won-coupon{
                width: 200px;
                font-size: 30px;
            }
        /*  */

        /* >>>>> SHOP STYLES */
            .shop{
                height: initial;
            }

            .shop h2{
                font-size: 40px;
            }

            .store-variaty{


                display: flex;
                flex-direction: column;
            }

            .shop-item{
                height: 300px;
                width: initial;
                background-position: center;
            }

            .shop-details h2{
                font-size: 30px;

                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
            }

            

            .shop-details p{
                font-size: 20px;
            }
    }
    @media(max-width: 1000px){
        /* >>>>> HERO */
            .hero span{
                font-size: 5rem
            };
    }
    @media(max-width: 900px){
            .hideOnMobile{
                display: none;
            }
        /* >>>>> HEADER STYLES */
            .header{
                height: 75px;

                justify-content: space-between;
            }
            .header .logo{
                font-size: 20px;
            }
        /* >>>>> SIDEBAR */
            nav .sidebar{
                width: 80%;
            }
            .menu-btn{
                display: contents;
            }
            nav .sidebar{
                width: 50%;
                display: none;
            }
        /* >>>>> HERO */
            .hero{

            }
        /* >>>>> COUPONS */
            .coupon{
                margin: 150px;
            }
    }
    @media(max-width: 600px){
        /* >>>>> HEADER */
            nav .sidebar{
                width: 100%;
            }
        /*  */

        /* >>>>> HERO */
            .hero{
            }
            .hero h1{
                font-size: 19px;
            }

            .hero span{
                font-size: 4rem;
            }
        /*  */

        /* >>>> COUPONS */
            .coupon{
                width: 100%;
                padding: 16px;
                margin-bottom: 0px;
            }

            .coupon-item:first-child{
                margin-left: 350px;
            }

            .coupon h2{
                font-size: 30px;
            }

            .coupon p{
                font-size: 20px;
                padding: 16px;
            }
        /*  */

        /* >>>> SHOP STYLES */
            .shop-btn button{
                height: 40px;
                width: 50px;
                font-size: 16px;
                text-align: center;
                padding: initial;
            }

    }